node_modules
dist
.next
.turbo
.cache
coverage
.DS_Store

# env
.env
.env.local
.env.*.local

# build artefacts
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea

# prisma
services/api/prisma/generated
